body{
	font-family: 'Quicksand', sans-serif;
	background-color: #C2C2C2;
	margin:0;
	font-size: 18px;
}
/*LAYOUT*/

/*CSS GRID SETUP*/
header{
	grid-area:header;
	background-color:#C2C2C2;
	height: 200px;
}
#image{
	grid-area:image;
	background-color:#C2C2C2;
	height: 200px;
}
#ingredients{
	grid-area:ingredients;
	background-color:#C2C2C2;
	height: 200px;
}
#directions{
	grid-area:directions;
	background-color:#C2C2C2;
	height: 200px;
}
footer{
	grid-area:footer;
	background-color:#C2C2C2;
	height: 200px;
}

.grid-container{
	display: grid;
	width: 60%;
	margin:auto;
	background-color:#DCEFF9;
	grid-template-areas:
	'header header header'
	'image image ingredients'
	'directions directions directions'
	'footer footer footer'
	;
}

/*TYPEOGRAPHY*/
h1{
	font-size: 3.052rem;
	margin-bottom: 0;
	margin-top: 0;
	color:#D26660 ;

}

h2{
	font-size: 1.953rem;
	color:#CD9065 ;

}

h3{
	font-size: 1.563rem;
	color:#CD9065 ;

}

h4{
	font-size: 1.25rem;
	color:#CD9065 ;
}